<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProfile name="dev">
    <springProperty name="LOGBACK_URL" source="logback.destination.url"/>
    <springProperty name="LOGBACK_PORT" source="logback.destination.port"/>
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGBACK_URL:-localhost}:${LOGBACK_PORT:-5000}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <root level="INFO">
        <appender-ref ref="logstash"/>
    </root>
    </springProfile>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.springframework" level="INFO"/>
    <logger name="com.vvw" level="DEBUG"/>
</configuration>